* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url('font_serif_pro/SourceSerifPro-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}



header {
    display: flex;
    height: 100px;
    background-color: #6da476;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: center;
    align-items: center;
}

.LogoAndName {
    display: flex;
    position: absolute;
    top: 10px;
    left: 136px;
    justify-content: center;
    align-items: center;
}


.CompanyName {
    font-family: 'Source Serif Pro';
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0.25em;
}

.nav {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    align-items: center;
    font-family: 'Source Serif Pro';
    font-size: 18px;
}

.FirstContainer {
    background: url("../Source/BackgroundPic1.png");
    background-size: cover;
    height: 885px;
    display: flex;
    justify-content: center;
    gap: 120px;
    align-items: center;
    flex-direction: column;
}


.FirstContainer p {
    width: 1077px;
    height: 222px;
    font-family: 'Source Serif Pro';
    font-size: 60px;
    text-align: center;
    background-color: #24502b;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.FirstContainer div {
    font-family: 'Source Serif Pro';
    font-size: 30px;
    background-color: #488151;
    color: white;
    width: 364px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 29px;
}

.SecondContainer {
    padding-left: 100px;
    padding-right: 100px;
    height: 646px;
    background: #24502b;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 87px;
    flex-direction: column;
    color: white;
}

.FirstParagraph{
    font-family: 'Source Serif Pro';
    font-size: 60px;
    letter-spacing: 7px;
}

.PromoteText {
    font-family: 'Source Serif Pro';
    font-size: 30px;
    width: 794px;
    text-align: justify;
}

.ThirdContainer {
    height: 1664px;
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    flex-direction: column;
}

.ThirdContainer p {
    color: black;
    font-family: 'Source Serif Pro';
    font-weight: bold;
}

.ScanningContainer, .PrintingContainer, .DesignContainer {
    display: flex;
    justify-content: center;
    gap: 118px;
    align-items: center;
}

.ScanningText, .PrintingText, .DesignText {
    font-size: 36px;
    font-weight: bold;
    margin-top: 45px;
}

.ButtonOrder {
    font-family: 'Source Serif Pro';
    font-size: 40px;
    color: white;
    background-color: #488151;
    width: 364px;
    height: 62px;
    border-radius: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 42px;
}

.FourthContainer {
    background: #6da476;
    height: 580px;
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    flex-direction: column;
}

.NameLastName, .Phone, .Service {
    width: 531px;
    height: 70px;
    border-radius: 29px;
    background: #488151;
    color: #2f5535;
    font-family: 'Source Serif Pro';
    font-size: 30px;
    text-align: center;
}

.NameLastName, .Phone {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

.NameLastName::placeholder, .Phone::placeholder {
    color: #2f5535;
}

footer {
    height: 480px;
    background-color: #202020;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}

.ContactInf {
    color: white;
    font-family: 'Source Serif Pro';
    font-size: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.7em;
}

.Logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.nav a:hover {
    cursor: pointer;
}

.nav a {
    color: black;
}
